!.gitignore
terraform-k8s/private.auto.tfvars
terraform-k8s/.terraform
terraform-k8s/*.tfstate
terraform-k8s/*.tfstate.*
terraform-k8s/.terraform.lock.hcl
terraform-mdb-postgresql/private.auto.tfvars
terraform-mdb-postgresql/.terraform
terraform-mdb-postgresql/*.tfstate
terraform-mdb-postgresql/*.tfstate.*
terraform-mdb-postgresql/.terraform.lock.hcl
