!.gitignore
terraform-k8s/private.auto.tfvars
terraform-k8s/.terraform
terraform-k8s/*.tfstate
terraform-k8s/*.tfstate.*
terraform-k8s/.terraform.lock.hcl
terraform-k8s-mdb/private.auto.tfvars
terraform-k8s-mdb/.terraform
terraform-k8s-mdb/*.tfstate
terraform-k8s-mdb/*.tfstate.*
terraform-k8s-mdb/.terraform.lock.hcl

